{{!-- app/components/open-modal-button.hbs --}}
<button type="button" {{on "click" this.openModal}}>Open Modal</button>
{{#if this.isModalOpen}}
  <InputModal @closeModal={{this.closeModal}} />
{{/if}}
