<div  class="user-info">
    {{#if this.errorMsg}}
        <h1 data-test-error="">Error: {{this.errorMsg}}</h1>
    {{/if}}
    {{#if this.name}}
        <h1 data-test-user-name="">Welcome {{this.name}}</h1>
    {{/if}}
</div>
<div class="date-container">
</div>